$primaryColor: #C8BFC7;
$secondaryColor: #7A9B76;
$thirdcolor: #8A7E72;
$fourcolor: #5A2328;

.nav-bar {
    background-color: $primaryColor;
    height: 85px;

}

.video-presentation {
    background-color: $secondaryColor;
    height: 500px;
}

.top-sales {
    background-color: $thirdcolor;
    height: 200px;
}

.store-location {
    background-color: $fourcolor;
    height: 300px;
}

.about-us {
    background-color: $primaryColor;
    height: 120px;
}