* {
  box-sizing: border-box;
}

.head {
  background-color: #8A7E72;
  height: 80px;
}

.company-description {
  padding: 0px 30px 0px 30px;
  height: 400px;
  text-align: center;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.company-description p {
  color: #5A2328 !important;
  font-size: large;
}

div.about-members {
  position: relative;
  display: flex;
  justify-content: center;
}

.room-image img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 0.5;
}

div.about-mateUs {
  background-color: white;
  margin: 5px;
  box-shadow: 5px 10px gray;
  padding: 10px;
  text-align: center;
}
div.about-mateUs h3 {
  max-height: 80px;
  min-height: 80px;
  text-align: center;
}
div.about-mateUs a {
  font-size: large;
  color: #C8BFC7;
}

div.about-members::after {
  content: "";
  display: table;
  clear: both;
}

.face-photo-container img {
  border-radius: 50%;
  width: 75%;
}

.ourName {
  font-size: 30px;
  text-align: center;
  height: 50px;
  margin-top: 0px;
}

.descriptionOfUs {
  margin-top: 50px;
  padding-bottom: 30px;
}

p {
  font-size: large;
}

@media (max-width: 820px) {
  div.about-members {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  div.about-mateUs {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-rows: 50px 250px 50px;
    grid-template-columns: 1fr 1fr;
  }
  div.face-photo-container {
    grid-row: 2/3;
  }
  a.gitHubLink {
    grid-row: 3/4;
    grid-column: 2/3;
  }
  a.gitHubLink:hover {
    color: #5A2328;
  }
  .descriptionOfUs {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-top: 25px;
    margin-top: 60px;
  }
  div.about-mateUs h3 {
    grid-column: 2/3;
    max-height: 80px;
    min-height: 80px;
  }
  p {
    font-size: medium;
  }
}
@media (max-width: 375px) {
  div.about-members {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  div.about-mateUs {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  p {
    font-size: medium;
  }
}
.nav-bar {
  background-color: #C8BFC7;
  height: 85px;
}

.video-presentation {
  background-color: #7A9B76;
  height: 500px;
}

.top-sales {
  background-color: #8A7E72;
  height: 200px;
}

.store-location {
  background-color: #5A2328;
  height: 100%;
  width: 100%;
}

.map-container {
  margin: 0px 30px 30px 30px;
}

.about-us {
  background-color: #C8BFC7;
  height: auto;
}

footer.about-us {
  background-color: #C8BFC7;
  width: auto;
  height: auto;
}

.wrapper {
  position: static;
  display: flex;
  flex-direction: column;
}

a:hover {
  cursor: pointer;
  color: #7A9B76;
}

.socialmedia i:hover {
  cursor: pointer;
  color: #7A9B76;
}

.threediviation {
  position: relative;
  font-size: 20px;
}
.threediviation .footer-middle li {
  list-style: none;
}
.threediviation .footer-middle a {
  text-decoration: none;
  color: #5A2328;
}
.threediviation .footer-middle a:hover {
  cursor: pointer;
  color: #7A9B76;
}
.threediviation .footer-right li {
  list-style: none;
}
.threediviation .footer-right a {
  text-decoration: none;
  color: #5A2328;
}
.threediviation .footer-right a:hover {
  cursor: pointer;
  color: #7A9B76;
}
.threediviation .footer-left {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.threediviation .footer-left div.subscription-input {
  display: flex;
  flex-direction: row;
}
.threediviation .footer-left input::-moz-placeholder {
  font-size: 16px;
}
.threediviation .footer-left input:-ms-input-placeholder {
  font-size: 16px;
}
.threediviation .footer-left input::placeholder {
  font-size: 16px;
}
.threediviation input {
  height: 40px;
}
.threediviation button.subscribe {
  width: auto;
  height: 30px;
  display: inline-block;
  border: none;
}
.threediviation button.subscribe:hover {
  cursor: pointer;
  background-color: #C8BFC7;
  border: #8A7E72 solid 2px;
}

iframe {
  position: relative;
  width: 100%;
  height: 600px;
}

.cp_hr01 {
  width: 60%;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: black;
}

.socialmedia {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
}
.socialmedia i {
  font-size: 60px;
}

.threediviation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

p.copyright {
  text-align: center;
}

@media (max-width: 820px) {
  .threediviation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer {
    text-align: center;
  }
}
@media (max-width: 375px) {
  .socialmedia {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}/*# sourceMappingURL=styles.css.map */